.button {
     -fx-background-color: #0052cc;
     -fx-border-color: #0052cc;
     -fx-padding: 3px 30px 3px 30px;
     -fx-border-width: 0;
     -fx-border-radius: 10px;
     -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-cursor: pointer;
    -fx-background-color: #1668E2;
}

.input {
    -fx-padding: 10px 15px;
    -fx-border-color: #0f0f0f;
    -fx-border-radius: 5px;
    -fx-effect: null !important;
    -fx-font-size: 16px;
    -fx-background-color: transparent, white, transparent, white;

    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
}

.input:focused {
    -fx-highlight-fill: #7ecfff;

    -fx-background-color: transparent, white, transparent, white;

    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
}